/* app/assets/stylesheets/application.css */

/*
 * This is a manifest file that'll be compiled into application.css
 *
 *= require_tree .
 *= require_self
 */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f5f5f5;
}